.App {
  text-align: center;
}

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;
} */

.user-info, .logout-button {
  margin: 10px 0; /* 上下に余白を追加 */
}

.App-logo {
  height: 20vmin;
  position: absolute;
  left: 0;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #0F3249;
  height: 60px;
  display: row;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  font-size: 10px;
  color: white;
} */

/* タイプパスワードにする */

.App-header {
  /* background-color: #282c34; */
  /* min-height: 100vh; */
  height: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.label-block {
  display: block;
}

.input-block {
  display: block;
  margin-top: 8px;
}

.border{
	border: solid 1px #0F3249;
  width: 0vh;
  height: 0px;
  background-color: #0F3249;
  position: relative;
  bottom: 0px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃えにする場合 */
  gap: 10px; /* ボタン間のスペース */
}

.button-container button {
  margin: 5px 0;
}

.txt_1{
  width: 150px;
}

.white-text {
  color: white;
}

.txt_2{
  /* height: 50px; */
  width: 350px;
  /* background-color: #f0f5f9; */
  position: relative;
  /* bottom: 390px; */
  margin-left: auto;
  margin-right: auto;
  line-height:50px;
  color: #0F3249;
}

/* .BottomBar{
    position: fixed;
    bottom: 0px;
    width: 100%;
    transition: transform 300ms ease 0s;
    transform: translateY(0px);
} */

.BottomBar {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  transition: transform 300ms ease 0s;
  transform: translateY(0px);
  /* フレックスボックスでボトムバーをページの一番下に配置します */
  margin-top: auto;
}

/* 通常のスタイル */
body {
  background-color: #ffffff;
  color: #333333;
}

/* ダークモード用のスタイル */
@media (prefers-color-scheme: dark) {
  body {
      background-color: #1a1a1a;
      color: #cccccc;
  }
}


.twitter__container {
  padding: 0;
  background: #ffffff;
  overflow: hidden;
  max-width: 400px;
  margin: 20px auto;
  font-size: 80%;
  border: solid 1px #eeeeee;
}

.Menu {
  display: flex;
}

.item {
  margin-right: 10px;
  padding: 10px;
  border-right: 1px solid #ccc; /* 右側に区切り線を設定 */
}

.item:last-child {
  border-right: none; /* 最後のアイテムには区切り線を表示しない */
}

.EachPost {
  display: flex;
  flex-direction: column;
}

.under {
  padding: 10px;
  border-bottom: 1px solid #ccc; /* 下に線を引く */
}

.disabled-button {
  opacity: 0.5;
}


.reply-content {
  color: #0F3249;
}

@media (prefers-color-scheme: dark) {
  .reply-content {
      color: #cccccc;
  }
}