.App {
  text-align: center;
}

/* .App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  height: 100vh;
} */

.user-info, .logout-button {
  margin: 10px 0; /* 上下に余白を追加 */
}

.App-logo {
  height: 20vmin;
  position: absolute;
  left: 0;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* .App-header {
  background-color: #0F3249;
  height: 60px;
  display: row;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  font-size: 10px;
  color: white;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(2px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.label-block {
  display: block;
}

.input-block {
  display: block;
  margin-top: 8px;
}

.border{
	border: solid 1px #0F3249;
  width: 0vh;
  height: 0px;
  background-color: #0F3249;
  position: relative;
  bottom: 0px;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* 中央揃えにする場合 */
  gap: 10px; /* ボタン間のスペース */
}

.button-container button {
  margin: 5px 0;
}

.txt_1{
  width: 150px;
}

.white-text {
  color: white;
}

.txt_2{
  /* height: 50px; */
  width: 350px;
  background-color: #f0f5f9;
  position: relative;
  /* bottom: 390px; */
  margin-left: auto;
  margin-right: auto;
  line-height:50px;
  color: #0F3249;
}
